{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto px-6 py-8">
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
            <div class="bg-blue-600 text-white py-4 px-6">
                <h2 class="text-2xl font-bold">Login to Taskify</h2>
                <p class="mt-1">Manage your tasks efficiently</p>
            </div>
            <form method="post" class="py-6 px-8">
                {% csrf_token %}
                {{ form.non_field_errors }}
            
                {% for field in form %}
                    <div class="mb-4">
                        <label for="{{ field.id_for_label }}" class="{{ form.label_classes }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="text-red-700 italic text-sm">{{ field.errors }}</span>
                    </div>
                {% endfor %}
            
                <div>
                    <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">
                        Sign In
                    </button>
                </div>
            </form>
        
            <div class="bg-gray-100 py-4 px-8 text-center">
                <p class="text-sm text-gray-600">Don't have an account? <a href="{% url 'registration' %}" class="text-blue-600 hover:underline">Sign Up</a></p>
                <p class="text-sm text-gray-600">Forgot Password? <a href="{% url 'password-reset' %}" class="text-blue-600 hover:underline">Reset here</a></p>
            </div>
        </div>
    </div>
{% endblock content %}

   