{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto px-6 py-8">
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
            <div class="bg-blue-600 text-white py-4 px-6">
                <h2 class="text-2xl font-bold">Sign Up for Taskify</h2>
                <p class="mt-1">Start managing your tasks efficiently</p>
            </div>
            <form method="post" class='py-6 px-8'>
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                {% for field in form %}
                    <div class="mb-4">
                        <label for="{{ field.id_for_label }}" class="{{ form.label_classes }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="text-red-700 italic text-sm">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                
                <div class="flex items-center justify-between mb-6">
                    <div class="flex items-center">
                        <input type="checkbox" id="agree-terms" name="agree-terms" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" required>
                        <label for="agree-terms" class="ml-2 block text-sm text-gray-900">
                            I agree to the <a href="#" class="text-blue-600 hover:underline">Terms and Conditions</a>
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">Sign Up</button>
                </div>
                </div>
            </form>
        
            <div class="bg-gray-100 py-4 px-8 text-center">
                <p class="text-sm text-gray-600">Already have an account? <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Log in</a></p>
                
            </div>
        </div>
    </div>
{% endblock content %}

   